.login-title {
  background: #E1F5FE;
  color: #81D4FA;
}

.text-center {
  margin-left:120px;
}

.login-input {
  height: 70px;
}

.login-action {
  margin: 0px 7px 7px 7px;
}

.login-error {
  color: red;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}